.History {
    background-color: bisque;
    background-size: contain;
    min-height: 100vh;
    height: auto;
  }
  
  .Table {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .desc {
    text-align: center;
    padding: 0px 5px; /* Adjust as needed */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    background-color: aliceblue;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px; /* Adjust padding for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }
  
  th {
    background-color: #f2f2f2;
  }
  .Font-History{
    font-size: 30px;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 400px) {
    .desc {
      padding: 0 3px; 
    }
  
    th, td {
      padding: 5px; 
      font-size: 12px;  
    }
  
    .Table {
      overflow-x: auto;  
    }
    .Font-History{
        font-size: 10px;
    }
  }
  @media only screen and (max-width: 700px) {
    .desc {
      padding: 0 4px; 
    }
  
    th, td {
      padding: 7px; 
      font-size: 14px; 
    }
  
    .Table {
      overflow-x: auto; 
    }
    .Font-History{
        font-size: 18px;
    }
  }
  