*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

  @import url('https://fonts.googleapis.com/css2?family=Kanit&family=Nunito:wght@500&family=Poppins&display=swap');

.header-lawyer{
color: antiquewhite;
font-size: 16px;


}
.header-lawyer img{
    width: 50px;
    height: 50px;
}
.header-lawyer :hover{
    text-decoration: underline;
    cursor: pointer;
}
    


.Lawyer-Login{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.content{
    
    text-align: center;
    height: 100vh;
    background-color: antiquewhite;
    
    
}
.header-button12{
    border-radius: 14px;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
}

.content-para{
    font-family: 'Kanit', sans-serif;
    font-size: 3em;
    font-weight: 900;
    line-break: 1em;
    text-shadow:  13px rgb(24, 19, 19);
}
.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 70px;
    overflow: hidden;
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
  }
  .bulb-image{
    position: relative;
    right: 0%
  }
  .input-box-lawyer{
    
    width: 60%;
    height: 100px;
  }
  .inputfield{
    display: block;
    justify-content: center;
  }
  .button-div{
    display: flex;
    justify-content: center;
  }
  .transmission{
    margin-top: 40px;
  }
  .case-box{
    background-color: bisque;
    border: 4px solid black;
    margin: 15px;
    width: 250px; 
    height: 50px;
    border-radius: 10px;
  }
  .case-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Lawyer-input{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  @keyframes marquee {
    from { transform: translateX(105%); }
    to { transform: translateX(-100%); }
  }
  @media screen and (max-width:600px) {
    .content-para{
        
        font-size: 2.6em;
        font-weight: 900;
       
       
    }
    .case-box{
      width: 150px;
      height: 30px;
    }
    .header-button12{
        border-radius: 10px;
        font-family: 'Kanit', sans-serif;
        font-weight: 600;
        padding: 10px;
    }
    .input-box-lawyer{
    
        width: 60%;
        height: 80px;
      }
        .header-lawyer{
            color: antiquewhite;
            font-size: 13px;
            
            
            }
    
    
  }
  @media screen and (max-width:400px) {
    .content-para{
        
        font-size: 2em;
        font-weight: 900;
       
       
    }
    .header-button12{
        border-radius: 10px;
        font-family: 'Kanit', sans-serif;
        font-weight: 600;
        padding: 10px;
    }
    .input-box-lawyer{
    
        width: 50%;
        height: 60px;
      }
      .header-lawyer{
        color: antiquewhite;
        font-size: 8px;
        
        
        }
        .case-box{
          width: 100px;
          height: 20px;
        }
    
  }